.RightPaneBox{
    flex: 3;
}
.rightPaneContainer{
    padding: 20px 20px 0 0;
}
.adContainer{
    margin-top: 10px;
    font-family: 'Open Sans','sans-serif';
}
.sponzerd{
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 65, 65);
}
.adImage{
    margin-top: 10px;
    border-radius: 5px;
    width: 98%;
}
.birthdayContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.birthdayImage{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
.onlineFriend{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.onlineFriendImg{
    widows: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}