.addPostPic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.addPost{
    width: 95%;
    border-radius: 10px;
    background-color: red;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
}
.addPostContainer{
    padding: 15px;
}
.addPostTop{
    
}